* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--chakra-colors-common-50);
}

p {
  color: var(--chakra-colors-common-100);
}

a {
  font-weight: 500;
}

svg {
  font-size: 26px;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #017bec;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 44, 80); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(0, 84, 163); /* creates padding around scroll thumb */
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #01455a transparent;
}
