*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  color: var(--chakra-colors-common-50);
}

p{
  color: var(--chakra-colors-common-100);
}

a{
  font-weight: 500;
}

svg{
  font-size: 26px;
}